{% extends 'fo_partials/base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}

    <div class="my-5 py-5 container teal lighten-5">
        <div class="container">

            <div class="row teal-text darken-4 mb-5"><h3>Modification du mot de passe</h3></div>

                {{ form(form) }}
            </div>
        </div>
{% endblock %}