{% extends 'fo_partials/base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('search') }}
{% endblock %}

{% block body %}
    {% include 'fo_partials/search.html.twig' %}

    <div class="container">
        <h4 class="teal-text text-darken-4">Résultats de votre recherche :</h4>
        <ul>
            {% for result in results %}

                <li>{{ result.name }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
