/*.vich-image a {*/
/*    display: none;*/
/*}*/
body {
    background: #F3F6F6;
}
.vich-image .form-check {
    display: none;
}

ul#menuMarques {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
.card-title {
    font-weight: 500 !important;
    font-size: 18px !important;
}

.price {
    font-weight: 600 !important;
    font-size: 20px;
}
.marque {
    font-weight: 400;
    font-size: 14px;
}

.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
    min-height: 150px;
    padding: 54px 54px;
    box-sizing: border-box;

}
.brand-logo {
    font-family: 'Pacifico', cursive;
}
