{% extends 'fo_partials/base.html.twig' %}

{% block title %}Acceuil enSewClopedia{% endblock %}

{% block body %}

    {% include 'fo_partials/_search.html.twig' %}
    <div class="row my-lg-5">
        <div class="container-fluid">
            <div class="row app">
                <h4 class="teal-text text-darken-4">Nouveautés</h4>
            </div>
            <div class="row my-3">
                {% for pattern in lastPatterns %}
                    {% include 'fo_partials/_patternCard.html.twig' %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row my-lg-5">
        <div class="container-fluid">
            <div class="row">
                <h4 class="teal-text text-darken-4">Populaires</h4>
            </div>
            <div class="row my-3">
                {% for patternInfo in popularestPatterns %}
                    {% set pattern = patternInfo.pattern %}
                    {% include'fo_partials/_patternCard.html.twig' %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}