{% extends 'fo_partials/base.html.twig' %}

{% block body %}

    <div class="container">
        <ul>
            <div class="row my-3">
                {% for pattern in patterns %}
                    {% include 'fo_partials/_patternCard.html.twig' %}
                {% endfor %}
            </div>
        </ul>
    </div>


{% endblock %}