{% extends 'fo_partials/base.html.twig' %}

{% block body %}


    <div class="container-fluid my-5 teal lighten-5 rounded">
    <div class="row my-lg-5">
    <div class="container-fluid">
        <div class="row app">
            <h4 class="teal-text text-darken-4">Hello {{ user.email }} !!</h4>
        </div>

        <p>Changer mon mot de passe <i class="fas fa-edit"></i></p>

        <ul>
            <h4 class="teal-text text-darken-4 font-weight-bold"> Marques préférées</h4>
            <div class="row my-3">
                {% for brand in brands %}
                    {% include 'fo_partials/_brandCard.html.twig' %}

                {% endfor %}
            </div>
        </ul>
        <ul>
            <h3> Dernières nouveautés de mes marques préférées</h3>
            <h4 class="teal-text text-darken-4 font-weight-bold"> Actualités de mes marques préférées </h4>

            <div class="row my-3">
                {% for pattern in news %}
                    {% include 'fo_partials/_patternCard.html.twig' %}

                {% endfor %}
            </div>
        </ul>
    </div>
    </div>
    </div>
{% endblock %}