{% extends 'fo_partials/base.html.twig' %}

{% block body %}
    {% include 'fo_partials/search.html.twig' %}

    <div class="container">
        <ul>
            <div class="row my-3">
                {% for pattern in patterns %}
                    {% include 'fo_partials/_patternCard.html.twig' %}
                {% endfor %}

                {% for brand in brands %}
                    {% include 'fo_partials/_brandCard.html.twig' %}
                {% endfor %}
            </div>
        </ul>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        function onclickBtnLike(event){
            event.preventDefault();
            const url = this.href;

            const icone = this.querySelector('i');
            axios.get(url).then(function(response)
            {
                console.log(response);
                if(icone.classList.contains('fas')) {
                    icone.classList.replace('fas', 'far');
                }else{
                    icone.classList.replace('far', 'fas');
                }
            }).catch(function (error) {
                if(error.response.status === 403) {
                    window.alert('Vous devez être connecté"')
                } else {
                    window.alert('Une erreur s\'est produite')
                }

            })
        }
        document.querySelectorAll('a.js-like').forEach(
            function (link) {
                link.addEventListener('click', onclickBtnLike);

            }
        );
    </script>
{% endblock %}
