{% extends 'bo_partials/layout.html.twig' %}

{% block title %}Editer le rôle {{ role }}{% endblock %}

{% block content %}
    <div class="row teal-text darken-4 mb-5"><h3>Modifier le rôle {{ role }}</h3></div>
    <div class="container teal lighten-5">
        {% include 'admin/role/_form.html.twig' with {'bouton_label' : 'Modifier'} %}
    </div>
{% endblock %}