{% extends 'bo_partials/layout.html.twig' %}

{% block title %}Modifier la langue des patrons de couture {{ language }}{% endblock %}

{% block content %}
    <div class="row teal-text darken-4 mb-5"><h3>Modifier la langue : {{ language }}</h3></div>
    <div class="container teal lighten-5">
        {% include 'admin/language/_form.html.twig' with {'bouton_label' : 'Modifier'} %}
    </div>
{% endblock %}